.sectionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  border-radius: 6em;
  max-width: 90vh;
}

.sectionImage {
  border: 4pt solid var(--color-erikBlue);
  border-radius: 6em;
  padding: 1rem;
  width: 30vh;
  height: auto;
}

.sectionText {
  text-align: center;
  padding: 1em;
}